--
-- PostgreSQL database dump
--

\restrict p2tfbMBIm3Co6iR5eKfuyR605b39IchtwuXq6IlIjv7J2wTHJh1nULs0YZVqrjy

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    username character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    google_sub character varying(255),
    mpin_hash character varying(128) NOT NULL,
    telegram_username character varying(255),
    telegram_chat_id character varying(64),
    telegram_link_code character varying(16) NOT NULL,
    telegram_link_code_created_at timestamp with time zone,
    otp_code character varying(10) NOT NULL,
    otp_created_at timestamp with time zone,
    otp_attempts integer NOT NULL,
    otp_request_count integer NOT NULL,
    otp_request_window_start timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    CONSTRAINT accounts_user_otp_attempts_check CHECK ((otp_attempts >= 0)),
    CONSTRAINT accounts_user_otp_request_count_check CHECK ((otp_request_count >= 0))
);


ALTER TABLE public.accounts_user OWNER TO postgres;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO postgres;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO postgres;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: insights_marketstocksnapshot; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.insights_marketstocksnapshot (
    id bigint NOT NULL,
    symbol character varying(20) NOT NULL,
    name character varying(255) NOT NULL,
    sector character varying(100) NOT NULL,
    market character varying(2) NOT NULL,
    market_price double precision NOT NULL,
    day_change double precision NOT NULL,
    day_change_pct double precision NOT NULL,
    volume bigint NOT NULL,
    market_cap double precision NOT NULL,
    data_source character varying(32) NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.insights_marketstocksnapshot OWNER TO postgres;

--
-- Name: insights_marketstocksnapshot_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.insights_marketstocksnapshot ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.insights_marketstocksnapshot_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mlops_predictionrun; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mlops_predictionrun (
    id bigint NOT NULL,
    model_type character varying(40) NOT NULL,
    prediction double precision NOT NULL,
    metrics jsonb NOT NULL,
    mlflow_run_id character varying(128) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    stock_id bigint NOT NULL
);


ALTER TABLE public.mlops_predictionrun OWNER TO postgres;

--
-- Name: mlops_predictionrun_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mlops_predictionrun ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mlops_predictionrun_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mlops_stockcluster; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mlops_stockcluster (
    id bigint NOT NULL,
    cluster_label integer NOT NULL,
    feature_vector jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    portfolio_id bigint,
    stock_id bigint NOT NULL
);


ALTER TABLE public.mlops_stockcluster OWNER TO postgres;

--
-- Name: mlops_stockcluster_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.mlops_stockcluster ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.mlops_stockcluster_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: otp_otp; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_otp (
    id bigint NOT NULL,
    code character varying(6) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    is_used boolean NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.otp_otp OWNER TO postgres;

--
-- Name: otp_otp_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.otp_otp ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.otp_otp_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: portfolio_holding; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.portfolio_holding (
    id bigint NOT NULL,
    quantity numeric(14,4) NOT NULL,
    average_buy_price numeric(14,2) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    portfolio_id bigint NOT NULL,
    stock_id bigint NOT NULL
);


ALTER TABLE public.portfolio_holding OWNER TO postgres;

--
-- Name: portfolio_portfolio; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.portfolio_portfolio (
    id bigint NOT NULL,
    name character varying(120) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    sector character varying(100),
    is_automated boolean DEFAULT false NOT NULL,
    target_allocation jsonb DEFAULT '{}'::jsonb NOT NULL
);


ALTER TABLE public.portfolio_portfolio OWNER TO postgres;

--
-- Name: portfolio_portfolio_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.portfolio_portfolio ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.portfolio_portfolio_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: portfolio_portfoliostock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.portfolio_holding ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.portfolio_portfoliostock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: portfolio_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.portfolio_transaction (
    id bigint NOT NULL,
    action character varying(4) NOT NULL,
    quantity numeric(18,4) NOT NULL,
    price numeric(18,4) NOT NULL,
    "time" timestamp with time zone NOT NULL,
    portfolio_id bigint NOT NULL,
    symbol_id bigint NOT NULL
);


ALTER TABLE public.portfolio_transaction OWNER TO postgres;

--
-- Name: portfolio_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.portfolio_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.portfolio_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_fundamental; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_fundamental (
    id bigint NOT NULL,
    pe_ratio numeric(12,2),
    roe numeric(8,2),
    market_cap numeric(20,2),
    updated_at timestamp with time zone NOT NULL,
    stock_id bigint NOT NULL
);


ALTER TABLE public.stocks_fundamental OWNER TO postgres;

--
-- Name: stocks_fundamental_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_fundamental ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_fundamental_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_stockprice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_stockprice (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    open numeric(12,2) NOT NULL,
    high numeric(12,2) NOT NULL,
    low numeric(12,2) NOT NULL,
    close numeric(12,2) NOT NULL,
    volume bigint NOT NULL,
    stock_id bigint NOT NULL
);


ALTER TABLE public.stocks_stockprice OWNER TO postgres;

--
-- Name: stocks_price_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_stockprice ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_price_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stocks_stockmaster; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stocks_stockmaster (
    id bigint NOT NULL,
    symbol character varying(20) NOT NULL,
    name character varying(255) NOT NULL,
    sector character varying(100) NOT NULL,
    market character varying(20) DEFAULT 'NSE'::character varying NOT NULL,
    high_52week numeric(12,2),
    low_52week numeric(12,2),
    pe_ratio numeric(12,2)
);


ALTER TABLE public.stocks_stockmaster OWNER TO postgres;

--
-- Name: stocks_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stocks_stockmaster ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stocks_stock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO postgres;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO postgres;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trading_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trading_transaction (
    id bigint NOT NULL,
    side character varying(4) NOT NULL,
    quantity numeric(14,4) NOT NULL,
    price numeric(14,2) NOT NULL,
    executed_at timestamp with time zone NOT NULL,
    portfolio_id bigint NOT NULL,
    stock_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.trading_transaction OWNER TO postgres;

--
-- Name: trading_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trading_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trading_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	group
3	auth	permission
4	contenttypes	contenttype
5	sessions	session
6	token_blacklist	blacklistedtoken
7	token_blacklist	outstandingtoken
8	accounts	user
9	stocks	fundamental
10	stocks	price
11	stocks	stock
12	portfolio	portfolio
13	portfolio	portfoliostock
14	trading	transaction
15	otp	otp
16	portfolio	holding
17	stocks	stockmaster
18	stocks	stockprice
19	portfolio	transaction
20	insights	marketstocksnapshot
21	mlops	predictionrun
22	mlops	stockcluster
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
0xfham41ijdk3rubmn5wb7csdu0vyp3o	.eJxVjD0LgzAQQP_LzUUuiYmJY8GxdOosl8uJUr8wOpX-91JwaNf3eO8FLR173x5ZtnZIUIOCyy-LxE-Zv4LWNRfEvBzznouT56KZaBjv2yPLNtMktyXJeD2jv1NPuYcaUqUwhg41oxcjkTA4barglErJmrLzXsTaSI4ZtcWoRItHQyWxpsjw_gBI8zvL:1w5dvY:CrhragvnTvRaP7eLxBQq4NWWZsyFGUVOilKcpPFmKf0	2026-04-09 11:40:44.61297+05:30
\.


--
-- Data for Name: insights_marketstocksnapshot; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mlops_predictionrun; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mlops_predictionrun (id, model_type, prediction, metrics, mlflow_run_id, created_at, created_by_id, stock_id) FROM stdin;
\.


--
-- Data for Name: mlops_stockcluster; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mlops_stockcluster (id, cluster_label, feature_vector, created_at, created_by_id, portfolio_id, stock_id) FROM stdin;
\.


--
-- Data for Name: otp_otp; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.otp_otp (id, code, created_at, is_used, user_id) FROM stdin;
\.


--
-- Data for Name: portfolio_holding; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.portfolio_holding (id, quantity, average_buy_price, updated_at, portfolio_id, stock_id) FROM stdin;
3	10.0000	1413.10	2026-03-26 10:58:52.238278+05:30	1	157
4	2.0000	1317.40	2026-03-26 11:11:57.571978+05:30	2	47
6	1.0000	204.71	2026-03-26 12:49:52.503491+05:30	1	401
\.


--
-- Data for Name: portfolio_portfolio; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.portfolio_portfolio (id, name, created_at, user_id, sector, is_automated, target_allocation) FROM stdin;
1	new	2026-03-25 14:24:44.770455+05:30	2	\N	f	{}
2	duck	2026-03-26 11:04:19.879157+05:30	3	\N	f	{}
3	first	2026-03-26 11:23:01.621697+05:30	3	\N	f	{}
4	Blue Chips Test	2026-03-26 11:24:44.795104+05:30	2	\N	f	{}
\.


--
-- Data for Name: portfolio_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.portfolio_transaction (id, action, quantity, price, "time", portfolio_id, symbol_id) FROM stdin;
2	BUY	1.0000	204.7100	2026-03-26 12:49:52.502124+05:30	1	401
\.


--
-- Data for Name: stocks_fundamental; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stocks_fundamental (id, pe_ratio, roe, market_cap, updated_at, stock_id) FROM stdin;
\.


--
-- Data for Name: stocks_stockmaster; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stocks_stockprice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: token_blacklist_blacklistedtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_blacklist_blacklistedtoken (id, blacklisted_at, token_id) FROM stdin;
\.


--
-- Data for Name: token_blacklist_outstandingtoken; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: trading_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.trading_transaction (id, side, quantity, price, executed_at, portfolio_id, stock_id, user_id) FROM stdin;
1	BUY	10.0000	1413.10	2026-03-26 10:58:52.240112+05:30	1	157	2
2	BUY	2.0000	1317.40	2026-03-26 11:11:57.573726+05:30	2	47	3
\.


--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 3, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 88, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 22, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 64, true);


--
-- Name: insights_marketstocksnapshot_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.insights_marketstocksnapshot_id_seq', 400, true);


--
-- Name: mlops_predictionrun_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mlops_predictionrun_id_seq', 1, false);


--
-- Name: mlops_stockcluster_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mlops_stockcluster_id_seq', 1, false);


--
-- Name: otp_otp_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.otp_otp_id_seq', 1, false);


--
-- Name: portfolio_portfolio_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.portfolio_portfolio_id_seq', 8, true);


--
-- Name: portfolio_portfoliostock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.portfolio_portfoliostock_id_seq', 6, true);


--
-- Name: portfolio_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.portfolio_transaction_id_seq', 2, true);


--
-- Name: stocks_fundamental_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_fundamental_id_seq', 1, false);


--
-- Name: stocks_price_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_price_id_seq', 25198, true);


--
-- Name: stocks_stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stocks_stock_id_seq', 801, true);


--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_blacklistedtoken_id_seq', 1, false);


--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.token_blacklist_outstandingtoken_id_seq', 37, true);


--
-- Name: trading_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.trading_transaction_id_seq', 2, true);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user accounts_user_google_sub_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_google_sub_key UNIQUE (google_sub);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_telegram_chat_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_telegram_chat_id_key UNIQUE (telegram_chat_id);


--
-- Name: accounts_user accounts_user_telegram_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_telegram_username_key UNIQUE (telegram_username);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: accounts_user accounts_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_username_key UNIQUE (username);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: insights_marketstocksnapshot insights_marketstocksnapshot_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insights_marketstocksnapshot
    ADD CONSTRAINT insights_marketstocksnapshot_pkey PRIMARY KEY (id);


--
-- Name: insights_marketstocksnapshot insights_marketstocksnapshot_symbol_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.insights_marketstocksnapshot
    ADD CONSTRAINT insights_marketstocksnapshot_symbol_key UNIQUE (symbol);


--
-- Name: mlops_predictionrun mlops_predictionrun_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mlops_predictionrun
    ADD CONSTRAINT mlops_predictionrun_pkey PRIMARY KEY (id);


--
-- Name: mlops_stockcluster mlops_stockcluster_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mlops_stockcluster
    ADD CONSTRAINT mlops_stockcluster_pkey PRIMARY KEY (id);


--
-- Name: mlops_stockcluster mlops_stockcluster_portfolio_id_stock_id_a4d6d1d7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mlops_stockcluster
    ADD CONSTRAINT mlops_stockcluster_portfolio_id_stock_id_a4d6d1d7_uniq UNIQUE (portfolio_id, stock_id);


--
-- Name: otp_otp otp_otp_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_otp
    ADD CONSTRAINT otp_otp_pkey PRIMARY KEY (id);


--
-- Name: portfolio_portfolio portfolio_portfolio_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_portfolio
    ADD CONSTRAINT portfolio_portfolio_pkey PRIMARY KEY (id);


--
-- Name: portfolio_portfolio portfolio_portfolio_user_id_name_77b64f19_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_portfolio
    ADD CONSTRAINT portfolio_portfolio_user_id_name_77b64f19_uniq UNIQUE (user_id, name);


--
-- Name: portfolio_holding portfolio_portfoliostock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_holding
    ADD CONSTRAINT portfolio_portfoliostock_pkey PRIMARY KEY (id);


--
-- Name: portfolio_holding portfolio_portfoliostock_portfolio_id_stock_id_2162e702_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_holding
    ADD CONSTRAINT portfolio_portfoliostock_portfolio_id_stock_id_2162e702_uniq UNIQUE (portfolio_id, stock_id);


--
-- Name: portfolio_transaction portfolio_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_transaction
    ADD CONSTRAINT portfolio_transaction_pkey PRIMARY KEY (id);


--
-- Name: stocks_fundamental stocks_fundamental_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_fundamental
    ADD CONSTRAINT stocks_fundamental_pkey PRIMARY KEY (id);


--
-- Name: stocks_fundamental stocks_fundamental_stock_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_fundamental
    ADD CONSTRAINT stocks_fundamental_stock_id_key UNIQUE (stock_id);


--
-- Name: stocks_stockprice stocks_price_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stockprice
    ADD CONSTRAINT stocks_price_pkey PRIMARY KEY (id);


--
-- Name: stocks_stockprice stocks_price_stock_id_timestamp_00ab44b9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stockprice
    ADD CONSTRAINT stocks_price_stock_id_timestamp_00ab44b9_uniq UNIQUE (stock_id, "timestamp");


--
-- Name: stocks_stockmaster stocks_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stockmaster
    ADD CONSTRAINT stocks_stock_pkey PRIMARY KEY (id);


--
-- Name: stocks_stockmaster stocks_stock_symbol_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stockmaster
    ADD CONSTRAINT stocks_stock_symbol_key UNIQUE (symbol);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: trading_transaction trading_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_transaction
    ADD CONSTRAINT trading_transaction_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_google_sub_8c9d6bcc_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_google_sub_8c9d6bcc_like ON public.accounts_user USING btree (google_sub varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_telegram_chat_id_b6ac1d1c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_telegram_chat_id_b6ac1d1c_like ON public.accounts_user USING btree (telegram_chat_id varchar_pattern_ops);


--
-- Name: accounts_user_telegram_username_c2341e78_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_telegram_username_c2341e78_like ON public.accounts_user USING btree (telegram_username varchar_pattern_ops);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: accounts_user_username_6088629e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX accounts_user_username_6088629e_like ON public.accounts_user USING btree (username varchar_pattern_ops);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: insights_marketstocksnapshot_market_1df416e9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX insights_marketstocksnapshot_market_1df416e9 ON public.insights_marketstocksnapshot USING btree (market);


--
-- Name: insights_marketstocksnapshot_market_1df416e9_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX insights_marketstocksnapshot_market_1df416e9_like ON public.insights_marketstocksnapshot USING btree (market varchar_pattern_ops);


--
-- Name: insights_marketstocksnapshot_symbol_f017feda_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX insights_marketstocksnapshot_symbol_f017feda_like ON public.insights_marketstocksnapshot USING btree (symbol varchar_pattern_ops);


--
-- Name: mlops_predictionrun_created_by_id_270b3af6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mlops_predictionrun_created_by_id_270b3af6 ON public.mlops_predictionrun USING btree (created_by_id);


--
-- Name: mlops_predictionrun_stock_id_5490ce83; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mlops_predictionrun_stock_id_5490ce83 ON public.mlops_predictionrun USING btree (stock_id);


--
-- Name: mlops_stockcluster_created_by_id_b7dccc66; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mlops_stockcluster_created_by_id_b7dccc66 ON public.mlops_stockcluster USING btree (created_by_id);


--
-- Name: mlops_stockcluster_portfolio_id_11ab9cc1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mlops_stockcluster_portfolio_id_11ab9cc1 ON public.mlops_stockcluster USING btree (portfolio_id);


--
-- Name: mlops_stockcluster_stock_id_cb23487b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX mlops_stockcluster_stock_id_cb23487b ON public.mlops_stockcluster USING btree (stock_id);


--
-- Name: otp_otp_user_id_fe9d6c52; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX otp_otp_user_id_fe9d6c52 ON public.otp_otp USING btree (user_id);


--
-- Name: portfolio_portfolio_user_id_91731826; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX portfolio_portfolio_user_id_91731826 ON public.portfolio_portfolio USING btree (user_id);


--
-- Name: portfolio_portfoliostock_portfolio_id_dcea0927; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX portfolio_portfoliostock_portfolio_id_dcea0927 ON public.portfolio_holding USING btree (portfolio_id);


--
-- Name: portfolio_portfoliostock_stock_id_d5b91619; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX portfolio_portfoliostock_stock_id_d5b91619 ON public.portfolio_holding USING btree (stock_id);


--
-- Name: portfolio_transaction_portfolio_id_9a795480; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX portfolio_transaction_portfolio_id_9a795480 ON public.portfolio_transaction USING btree (portfolio_id);


--
-- Name: portfolio_transaction_symbol_id_7c466a13; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX portfolio_transaction_symbol_id_7c466a13 ON public.portfolio_transaction USING btree (symbol_id);


--
-- Name: stocks_price_stock_id_0ec3929e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_price_stock_id_0ec3929e ON public.stocks_stockprice USING btree (stock_id);


--
-- Name: stocks_price_timestamp_817d435e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_price_timestamp_817d435e ON public.stocks_stockprice USING btree ("timestamp");


--
-- Name: stocks_stock_symbol_e2aab713_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stocks_stock_symbol_e2aab713_like ON public.stocks_stockmaster USING btree (symbol varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: trading_transaction_portfolio_id_f6bdebbd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_transaction_portfolio_id_f6bdebbd ON public.trading_transaction USING btree (portfolio_id);


--
-- Name: trading_transaction_stock_id_f24f78e6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_transaction_stock_id_f24f78e6 ON public.trading_transaction USING btree (stock_id);


--
-- Name: trading_transaction_user_id_c7611efd; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_transaction_user_id_c7611efd ON public.trading_transaction USING btree (user_id);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mlops_predictionrun mlops_predictionrun_stock_id_5490ce83_fk_stocks_stockmaster_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mlops_predictionrun
    ADD CONSTRAINT mlops_predictionrun_stock_id_5490ce83_fk_stocks_stockmaster_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mlops_stockcluster mlops_stockcluster_portfolio_id_11ab9cc1_fk_portfolio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mlops_stockcluster
    ADD CONSTRAINT mlops_stockcluster_portfolio_id_11ab9cc1_fk_portfolio FOREIGN KEY (portfolio_id) REFERENCES public.portfolio_portfolio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: mlops_stockcluster mlops_stockcluster_stock_id_cb23487b_fk_stocks_stockmaster_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mlops_stockcluster
    ADD CONSTRAINT mlops_stockcluster_stock_id_cb23487b_fk_stocks_stockmaster_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: portfolio_holding portfolio_portfolios_portfolio_id_dcea0927_fk_portfolio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_holding
    ADD CONSTRAINT portfolio_portfolios_portfolio_id_dcea0927_fk_portfolio FOREIGN KEY (portfolio_id) REFERENCES public.portfolio_portfolio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: portfolio_holding portfolio_portfoliostock_stock_id_d5b91619_fk_stocks_stock_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_holding
    ADD CONSTRAINT portfolio_portfoliostock_stock_id_d5b91619_fk_stocks_stock_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: portfolio_transaction portfolio_transaction_portfolio_id_9a795480_fk_portfolio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_transaction
    ADD CONSTRAINT portfolio_transaction_portfolio_id_9a795480_fk_portfolio FOREIGN KEY (portfolio_id) REFERENCES public.portfolio_portfolio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: portfolio_transaction portfolio_transaction_symbol_id_7c466a13_fk_stocks_st; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.portfolio_transaction
    ADD CONSTRAINT portfolio_transaction_symbol_id_7c466a13_fk_stocks_st FOREIGN KEY (symbol_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_fundamental stocks_fundamental_stock_id_e43c72e0_fk_stocks_stock_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_fundamental
    ADD CONSTRAINT stocks_fundamental_stock_id_e43c72e0_fk_stocks_stock_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: stocks_stockprice stocks_price_stock_id_0ec3929e_fk_stocks_stock_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stocks_stockprice
    ADD CONSTRAINT stocks_price_stock_id_0ec3929e_fk_stocks_stock_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_transaction trading_transaction_portfolio_id_f6bdebbd_fk_portfolio; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_transaction
    ADD CONSTRAINT trading_transaction_portfolio_id_f6bdebbd_fk_portfolio FOREIGN KEY (portfolio_id) REFERENCES public.portfolio_portfolio(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_transaction trading_transaction_stock_id_f24f78e6_fk_stocks_stock_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_transaction
    ADD CONSTRAINT trading_transaction_stock_id_f24f78e6_fk_stocks_stock_id FOREIGN KEY (stock_id) REFERENCES public.stocks_stockmaster(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict p2tfbMBIm3Co6iR5eKfuyR605b39IchtwuXq6IlIjv7J2wTHJh1nULs0YZVqrjy

